In [1]:
import pandas as pd
import numpy as np
import matplotlib.pylab as plt
#from sklearn.cross_validation import train_test_split
from sklearn import preprocessing
from sklearn.cluster import KMeans

C:\Users\BeauB\AppData\Local\Temp\ipykernel_15764\2413191728.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
from sklearn import datasets
dataset = datasets.load_iris()
x = pd.DataFrame(dataset.data)
x.columns = ['Sepal_Length','Sepal_Width','Petal_Length','Petal_Width']
y = pd.DataFrame(dataset.target)
y.columns = ['Targets']
x.describe()

       Sepal_Length  Sepal_Width  Petal_Length  Petal_Width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [3]:
# normalize each variable to have mean=0 and sd=1
clusterdata=x.copy()
for i in range(clusterdata.shape[1]):
    clusterdata.iloc[:,i] = preprocessing.scale(clusterdata.iloc[:,i])

In [ ]:
clusterdata.head()

In [ ]:
x.head()

In [ ]:
# k-means cluster analysis for 1-10 clusters
from scipy.spatial.distance import cdist
clusters=range(1,10)
meandist=[]

#Perform k-means analysis, as well as check the average within cluster distances vs. different k values
for k in clusters:
    model=KMeans(n_clusters=k)
    model.fit(clusterdata)
    clusassign=model.predict(clusterdata)
    meandist.append(sum(np.min(cdist(clusterdata, model.cluster_centers_, 'euclidean'), axis=1))
    / clusterdata.shape[0])

In [ ]:
%matplotlib inline
plt.plot(clusters, meandist)
plt.xlabel('Number of clusters')
plt.ylabel('Average distance')
plt.title('Selecting k with the Elbow Method')

In [ ]:
# K Means Cluster choosing 3 as the number of clusters
model = KMeans(n_clusters=3)
model.fit(clusterdata)

In [ ]:
model.labels_

In [ ]:
# View the results
# Set the size of the plot
plt.figure(figsize=(14,7))

# Create a colormap
colormap = np.array(['red', 'lime', 'black'])

# Plot the Original Classifications
plt.subplot(1, 2, 1)
plt.scatter(x.Petal_Length, x.Petal_Width, c=colormap[y.Targets], s=40)
plt.title('Ground Truth Class')

# Plot the Models Classifications
plt.subplot(1, 2, 2)
plt.scatter(x.Petal_Length, x.Petal_Width, c=colormap[model.labels_], s=40)
plt.title('K Means Clustering Result')

In [ ]:
# The meanings of "0", "1", and "2" in the ground truth label are different from those generated by model. We need to make them consistent.
predY = np.choose(model.labels_, [2, 0, 1]).astype(np.int64)

In [ ]:
# View the results
# Set the size of the plot
plt.figure(figsize=(14,7))

# Create a colormap
colormap = np.array(['red', 'lime', 'black'])

# Plot Orginal
plt.subplot(1, 2, 1)
plt.scatter(x.Petal_Length, x.Petal_Width, c=colormap[y.Targets], s=40)
plt.title('Ground Truth Class')

# Plot Predicted with corrected values
plt.subplot(1, 2, 2)
plt.scatter(x.Petal_Length, x.Petal_Width, c=colormap[predY], s=40)
plt.title('K Mean Clustering Result')

In [ ]:
# Performance Measures
import sklearn.metrics
sklearn.metrics.confusion_matrix(y, predY)

In [ ]:
sklearn.metrics.accuracy_score(y, predY)

In [ ]:
#Hierarchical Clustering
#apply the complete linkage agglomeration to our clusters using
#the linkage function from SciPy's cluster.hierarchy submodule
from scipy.cluster.hierarchy import linkage
row_clusters = linkage(x.values,method='complete', metric='euclidean')

In [ ]:
from scipy.cluster.hierarchy import dendrogram

In [ ]:
row_dendr = dendrogram(row_clusters)

In [ ]:
#Applying agglomerative clustering via scikit-learn
from sklearn.cluster import AgglomerativeClustering

In [ ]:
ac = AgglomerativeClustering(n_clusters=2,affinity='euclidean',linkage='complete')

In [ ]:
labels = ac.fit_predict(x.values)

In [ ]:
labels